Import Pandas

In [2]:
import pandas as pd

Reading File and checking Date header

In [7]:
data = pd.read_csv("NIFTY50-20221020121500000_20220902122500000.csv",parse_dates=True)
data["Date"]

0       Fri Sep 02 2022 12:25:00 GMT+0530 (India Stand...
1       Fri Sep 02 2022 12:30:00 GMT+0530 (India Stand...
2       Fri Sep 02 2022 12:35:00 GMT+0530 (India Stand...
3       Fri Sep 02 2022 12:40:00 GMT+0530 (India Stand...
4       Fri Sep 02 2022 12:45:00 GMT+0530 (India Stand...
                              ...
2469    Thu Oct 20 2022 11:55:00 GMT+0530 (India Stand...
2470    Thu Oct 20 2022 12:00:00 GMT+0530 (India Stand...
2471    Thu Oct 20 2022 12:05:00 GMT+0530 (India Stand...
2472    Thu Oct 20 2022 12:10:00 GMT+0530 (India Stand...
2473    Thu Oct 20 2022 12:15:00 GMT+0530 (India Stand...
Name: Date, Length: 2474, dtype: object

rsplit Date column to see which items to save.

In [15]:
data["Date"].str.rsplit(expand=True)

        0    1   2     3         4         5       6         7      8
0     Fri  Sep  02  2022  12:25:00  GMT+0530  (India  Standard  Time)
1     Fri  Sep  02  2022  12:30:00  GMT+0530  (India  Standard  Time)
2     Fri  Sep  02  2022  12:35:00  GMT+0530  (India  Standard  Time)
3     Fri  Sep  02  2022  12:40:00  GMT+0530  (India  Standard  Time)
4     Fri  Sep  02  2022  12:45:00  GMT+0530  (India  Standard  Time)
...   ...  ...  ..   ...       ...       ...     ...       ...    ...
2469  Thu  Oct  20  2022  11:55:00  GMT+0530  (India  Standard  Time)
2470  Thu  Oct  20  2022  12:00:00  GMT+0530  (India  Standard  Time)
2471  Thu  Oct  20  2022  12:05:00  GMT+0530  (India  Standard  Time)
2472  Thu  Oct  20  2022  12:10:00  GMT+0530  (India  Standard  Time)
2473  Thu  Oct  20  2022  12:15:00  GMT+0530  (India  Standard  Time)

[2474 rows x 9 columns]

Saving Day, Month, Date(Dt), Year and Timestamps for each 5 min candle.

In [17]:
data["Day"] = data["Date"].str.rsplit(expand=True)[0]
data["Month"] = data["Date"].str.rsplit(expand=True)[1]
data["Dt"] = data["Date"].str.rsplit(expand=True)[2]
data["Year"] = data["Date"].str.rsplit(expand=True)[3]
data["Time"] = data["Date"].str.rsplit(expand=True)[4]
data

,Date,Open,High,Low,Close,% Change,% Change vs Average,Volume,"MA ‌ma‌ (50,ma,0)","MA ‌ma‌ (200,ma,0)","All Stops ‌ATR Trailing Stop‌ (21,3,points,n)",RSI ‌rsi‌ (14),Day,Month,Dt,Year,Time
0,Fri Sep 02 2022 12:25:00 GMT+0530 (India Stand...,17568.65,17574.25,17563.35,17571.65,0.01,0.01,0,17538.41,17564.72,17580.27,63.88,Fri,Sep,02,2022,12:25:00
1,Fri Sep 02 2022 12:30:00 GMT+0530 (India Stand...,17572.00,17575.00,17564.20,17565.25,-0.04,-0.04,0,17538.72,17565.93,17580.27,60.19,Fri,Sep,02,2022,12:30:00
2,Fri Sep 02 2022 12:35:00 GMT+0530 (India Stand...,17565.60,17569.25,17551.55,17555.80,-0.05,-0.05,0,17538.64,17567.03,17580.27,55.12,Fri,Sep,02,2022,12:35:00
3,Fri Sep 02 2022 12:40:00 GMT+0530 (India Stand...,17555.55,17574.55,17554.95,17567.30,0.07,0.07,0,17539.13,17568.24,17580.27,59.58,Fri,Sep,02,2022,12:40:00
4,Fri Sep 02 2022 12:45:00 GMT+0530 (India Stand...,17567.55,17570.90,17559.70,17564.15,-0.02,-0.02,0,17539.43,17569.49,17580.27,57.88,Fri,Sep,02,2022,12:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,Thu Oct 20 2022 11:55:00 GMT+0530 (India Stand...,17480.95,17487.95,17477.15,17485.75,0.03,0.03,0,17490.55,17492.30,17446.74,50.52,Thu,Oct,20,2022,11:55:00
2470,Thu Oct 20 2022 12:00:00 GMT+0530 (India Stand...,17486.35,17487.50,17468.75,17475.40,-0.06,-0.06,0,17489.65,17493.17,17446.74,44.96,Thu,Oct,20,2022,12:00:00
2471,Thu Oct 20 2022 12:05:00 GMT+0530 (India Stand...,17475.65,17475.70,17465.10,17471.05,-0.02,-0.02,0,17488.14,17494.07,17446.74,42.83,Thu,Oct,20,2022,12:05:00
2472,Thu Oct 20 2022 12:10:00 GMT+0530 (India Stand...,17471.05,17479.60,17469.30,17476.10,0.03,0.03,0,17486.93,17494.98,17446.74,46.03,Thu,Oct,20,2022,12:10:00
2473,Thu Oct 20 2022 12:15:00 GMT+0530 (India Stand...,17475.90,17491.75,17475.60,17489.95,0.08,0.08,0,17485.70,17495.92,17446.74,53.69,Thu,Oct,20,2022,12:15:00

Saving OpenClose and HighLow diffs.

In [21]:
data["OpenClose"] = ((1 - data["Open"]/data["Close"])*100).round(4)
data["HighLow"] = ((1 - data["High"]/data["Low"])*100).round(4)

Taking one of the Thursday for analysis

In [24]:
data.loc[data["Dt"] == "08"]

,Date,Open,High,Low,Close,% Change,% Change vs Average,Volume,"MA ‌ma‌ (50,ma,0)","MA ‌ma‌ (200,ma,0)","All Stops ‌ATR Trailing Stop‌ (21,3,points,n)",RSI ‌rsi‌ (14),Day,Month,Dt,Year,Time,OpenClose,HighLow
262,Thu Sep 08 2022 09:15:00 GMT+0530 (India Stand...,17748.15,17765.10,17732.80,17733.90,0.59,0.59,0,17619.91,17642.07,17645.48,77.55,Thu,Sep,08,2022,09:15:00,-0.0804,-0.1821
263,Thu Sep 08 2022 09:20:00 GMT+0530 (India Stand...,17733.75,17769.20,17733.70,17767.95,0.19,0.19,0,17624.18,17642.78,17674.39,81.00,Thu,Sep,08,2022,09:20:00,0.1925,-0.2002
264,Thu Sep 08 2022 09:25:00 GMT+0530 (India Stand...,17768.75,17780.30,17768.05,17774.50,0.04,0.04,0,17628.34,17643.52,17706.20,81.58,Thu,Sep,08,2022,09:25:00,0.0323,-0.0689
265,Thu Sep 08 2022 09:30:00 GMT+0530 (India Stand...,17775.35,17786.30,17771.65,17782.55,0.05,0.05,0,17632.79,17644.29,17713.93,82.30,Thu,Sep,08,2022,09:30:00,0.0405,-0.0824
266,Thu Sep 08 2022 09:35:00 GMT+0530 (India Stand...,17781.95,17791.10,17771.50,17774.60,-0.04,-0.04,0,17636.90,17645.00,17722.77,79.01,Thu,Sep,08,2022,09:35:00,-0.0414,-0.1103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,Thu Sep 08 2022 15:05:00 GMT+0530 (India Stand...,17799.80,17806.75,17789.00,17804.50,0.03,0.03,0,17749.17,17676.19,17757.85,73.62,Thu,Sep,08,2022,15:05:00,0.0264,-0.0998
333,Thu Sep 08 2022 15:10:00 GMT+0530 (India Stand...,17804.80,17806.95,17792.55,17796.35,-0.05,-0.05,0,17750.05,17677.00,17762.96,67.26,Thu,Sep,08,2022,15:10:00,-0.0475,-0.0809
334,Thu Sep 08 2022 15:15:00 GMT+0530 (India Stand...,17796.10,17800.60,17790.50,17797.05,0.00,0.00,0,17750.86,17677.66,17762.96,67.52,Thu,Sep,08,2022,15:15:00,0.0053,-0.0568
335,Thu Sep 08 2022 15:20:00 GMT+0530 (India Stand...,17796.40,17801.45,17790.55,17796.20,0.00,0.00,0,17751.86,17678.30,17762.96,66.82,Thu,Sep,08,2022,15:20:00,-0.0011,-0.0613
336,Thu Sep 08 2022 15:25:00 GMT+0530 (India Stand...,17796.40,17804.50,17795.05,17800.10,0.02,0.02,0,17753.23,17678.97,17762.96,68.43,Thu,Sep,08,2022,15:25:00,0.0208,-0.0531

printing cumsum of one of the Thursday

In [26]:
data["OpenClose"].loc[data["Dt"] == "08"].cumsum()

262   -0.0804
263    0.1121
264    0.1444
265    0.1849
266    0.1435
        ...
332    0.2692
333    0.2217
334    0.2270
335    0.2259
336    0.2467
Name: OpenClose, Length: 75, dtype: float64

Save Newer File with additional headers

In [27]:
data.to_csv("nifty50-5minCandle-details.csv",index=False)